<div *ngIf="isUserLoggedIn" class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar [appSidebar]="appSidebar"></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar #appSidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main" style="width: 75%;">
            <router-outlet></router-outlet>
            <div class="col-12"
                style="margin-top: auto; position: absolute; bottom: 0; width: 20%; right: 0; z-index: 9999;">
                <p-messages></p-messages>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    <div class="layout-mask"></div>
</div>

<div *ngIf="!isUserLoggedIn" class="layout-wrapper" [ngClass]="containerClass">
    <div class="layout-main-container" style="margin: 0;">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>