<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="col-12">
        <div class="flex flex-column md:flex-row">
          <button *ngIf="hasAccessToButtons" pButton [label]="translate.instant('General.Create')"
            class="p-button-outlined ml-auto" icon="pi pi-user" (click)="onCreate()"></button>
        </div>
      </div>
      <div class="col-12">
        <p-table #dataTable [value]="users" [columns]="cols" dataKey="Id" sortField="Login" [lazy]="true"
          (onLazyLoad)="loadUsersLazy($event)" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
          [totalRecords]="totalRecords" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"
          responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
              <button pButton [label]="translate.instant('General.Clear')" class="p-button-outlined mb-2"
                icon="pi pi-filter-slash" (click)="filterService.onClearFilters(dataTable)"></button>
              <div class="grid formgrid">
                <div class="col-12 mb-2 lg:col-4 lg:mb-0 mt-2">
                  <span class="p-input-icon-right">
                    <i *ngIf="!filterService.shouldHideIcon(filter.value)" class="pi pi-search"></i>
                    <input type="text" pInputText #filter id="filter"
                      (input)="filterService.onFilterGlobal(dataTable, filter.value)"
                      [placeholder]="translate.instant('General.SearchKeyword')" />
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" style="min-width: 12rem" [ngSwitch]="col.field">
                <div class="flex justify-content-between align-items-center">
                  {{ col.header | translate }}
                  <p-columnFilter *ngSwitchCase="'Login'" pInputText type="text"
                    [placeholder]="filterService.getPlaceholder(translate.instant(col.header))" display="menu"
                    field="Login">
                  </p-columnFilter>
                  <p-columnFilter *ngSwitchCase="'FirstName'" pInputText type="text"
                    [placeholder]="filterService.getPlaceholder(translate.instant(col.header))" display="menu"
                    field="FirstName">
                  </p-columnFilter>
                  <p-columnFilter *ngSwitchCase="'LastName'" pInputText type="text"
                    [placeholder]="filterService.getPlaceholder(translate.instant(col.header))" display="menu"
                    field="LastName">
                  </p-columnFilter>
                  <p-columnFilter *ngSwitchCase="'UserRoleName'"
                    [placeholder]="filterService.getPlaceholder(translate.instant(col.header))" display="menu"
                    field="UserRoleName" matchMode="in" [showMatchModes]="false" [showOperator]="false"
                    [showAddButton]="false">
                    <ng-template pTemplate="header">
                      <div>
                        <span class="font-bold">{{translate.instant('User.UserRolePicker')}}</span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect [ngModel]="value" [options]="userRoleOptions"
                        [placeholder]="filterService.getPlaceholder(translate.instant(col.header))"
                        (onChange)="filter($event.value)" optionLabel="label">
                        <ng-template let-option pTemplate="item">
                          <div class="p-multiselect-representative-option">
                            <span class="ml-1">{{option.label}}</span>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </ng-template>
                  </p-columnFilter>
                  <p-columnFilter *ngSwitchCase="'IsActive'" type="boolean" display="menu" field="IsActive">
                  </p-columnFilter>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-columns="columns">
            <tr>
              <td>
                {{user.Login}}
              </td>
              <td>
                {{user.FirstName}}
              </td>
              <td>
                {{user.LastName}}
              </td>
              <td>
                {{user.UserRoleName}}
              </td>
              <td>
                <input type="checkbox" [checked]="user.IsActive" disabled />
              </td>
              <td class="items-centered gap-2">
                <button pButton pRipple class="p-button-raised" type="button"
                  [class]="hasAccessToButtons ? 'p-button-raised' : 'p-button-raised p-button-warning'"
                  icon="pi pi-pencil" [label]="translate.instant(onEditLabelId)" (click)="onEdit(user)"></button>
                <button *ngIf="hasAccessToButtons" pButton pRipple type="button" icon="pi pi-trash"
                  [label]="translate.instant(onDeleteLabelId)" class="p-button-raised p-button-danger"
                  (click)="onDelete(user)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <p-confirmDialog [header]="translate.instant('User.Deletion')" key="deleteUser" icon="pi pi-exclamation-triangle"
      [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"
      [acceptLabel]="translate.instant('General.Yes')" [rejectLabel]="translate.instant('General.No')">
    </p-confirmDialog>
  </div>
</div>
<router-outlet></router-outlet>