<p-galleria *ngIf="equipmentPhotos && equipmentPhotos.length > 0" [value]="equipmentPhotos"
  [(activeIndex)]="activeIndex" [responsiveOptions]="galleriaResponsiveOptions"
  [containerStyle]="{ 'max-width': '540px' }" [numVisible]="5" [circular]="true">
  <ng-template pTemplate="item" let-item>
    <img *ngIf="!item.IsBeingDownloaded" [src]="item.SourceUrl ? item.SourceUrl : getEquipmentPhotoSource(item)"
      style="width: 100%; max-height: 420px; min-height: 420px; min-width: 450px; max-width: 450px; display: block;" />
    <p-progressSpinner *ngIf="item.IsBeingDownloaded" styleClass="w-5rem h-5rem" strokeWidth="8"
      fill="var(--surface-ground)" animationDuration=".5s"
      style="width: 100%; max-height: 420px; min-height: 420px; min-width: 450px; max-width: 450px; display: flex; justify-content: center; align-items: center;"></p-progressSpinner>
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.ThumbnailUrl" />
    </div>
  </ng-template>
</p-galleria>
<p-fileUpload #equipmentPhotoUpload name="equipmentPhotoFile[]" [multiple]="true" accept="image/*"
  (uploadHandler)="equipmentPhotoUploadAsync($event)" [chooseLabel]="translate.instant('Equipment.Photos.Add')"
  [customUpload]="true" [maxFileSize]="20000000">
</p-fileUpload>