<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden login-body">
  <div class="flex flex-column align-items-center justify-content-center">
    <div class="login-panel">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">{{ 'User.PasswordChange' | translate }}</div>
        </div>

        <form [formGroup]="form">
          <div>
            <label for="email" class="block text-900 text-xl font-medium mb-2">{{ 'User.Email' | translate }}</label>
            <input pInputText id="email" formControlName="Email" type="email" class="p-inputtext w-full mb-5"
              style="padding:1rem" autocomplete="off">
            <button pButton pRipple label="{{ 'General.Send' | translate }}" class="w-full p-3 text-xl"
              (click)="onSubmit()"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast key="tst"></p-toast>