<div class="grid form-grid">
  <div class="col-12">
    <div class="card pb-0">
      <p-tabView>
        <p-tabPanel header="{{ 'General.GeneralTab' | translate }}">
          <form [formGroup]="form">
            <div class="col-12 pb-0 px-0">
              <div class="card no-border p-0">
                <div class="p-fluid p-formgrid grid mb-3">
                  <div class="field col-12 md:col-6">
                    <name-in-languages *ngIf="userRole" #nameInLanguages [disabled]="!hasAccessToButtons"
                      [nameInLanguages]="userRole.NameInLanguages"
                      (isValid)="onIsNameInLanguagesValid($event)"></name-in-languages>
                  </div>
                </div>
                <user-role-permissions *ngIf="userRole" #userRolePermissions [formMode]="formMode.Edition"
                  [groupedUserPermissions]="userRole.GroupedPermissions"></user-role-permissions>
                <div class="p-formgrid grid">
                  <div class="field col-12 items-centered mb-0">
                    <button *ngIf="hasAccessToButtons && !isDisabled" pButton pRipple type="button" icon="pi pi-save"
                      [label]="translate.instant('General.Save')" class="p-button-raised p-button-success mr-2"
                      [disabled]="shouldActionsBeDisabled" (click)="onSubmit()"></button>
                    <button *ngIf="hasAccessToButtons && !isDisabled" pButton pRipple type="button" icon="pi pi-trash"
                      [label]="translate.instant('General.Delete')" class="p-button-raised p-button-danger mr-2"
                      [disabled]="shouldActionsBeDisabled" (click)="onDelete()"></button>
                    <button pButton pRipple type="button" icon="pi pi-undo"
                      [label]="translate.instant('General.Cancel')" class="p-button-raised" [disabled]="isExecuting"
                      (click)="onBack()"></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </p-tabPanel>
        <p-tabPanel header="{{ 'Audit.History' | translate}}">
          <audit-list-for-entity #audits *ngIf="userRole" [entityId]="userRole.Id.toString()"
            entityTableName="UserRoles" translation="UserRole"></audit-list-for-entity>
        </p-tabPanel>
      </p-tabView>
    </div>
    <deletion-dialog [deletionKey]="deletionKey"></deletion-dialog>
  </div>
</div>