<div class="grid form-grid">
  <div class="col-12">
    <div class="card pb-0">
      <p-tabView>
        <p-tabPanel header="{{ 'General.GeneralTab' | translate }}">
          <form [formGroup]="form">
            <div class="col-12 pb-0 px-0">
              <div class="card no-border p-0">
                <div class="p-fluid p-formgrid grid mb-3">
                  <div class="field col-12 items-centered">
                    <div class="flex-wrap mb-4">
                      <label class="block text-900 font-medium mb-2">{{ 'Rental.UserResponsibleForHandling' | translate
                        }}</label>
                      <span class="p-input-icon-right">
                        <i [class]="Menus.administration.items.users.icon"></i>
                        <input pInputText class="p-inputtext mb-2" id="userResponsibleForHandlingName"
                          formControlName="UserResponsibleForHandlingName" type="text"
                          (click)="displayUserSelectionDialog = true" readonly />
                      </span>
                      <p-message *ngIf="formValidator.hasError('UserResponsibleForHandlingName')" severity="error"
                        [text]="translate.instant('Messages.FieldRequired')"></p-message>
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <p-calendar class="max-w-full" formControlName="StartEndRange" dateFormat="dd.mm.yy"
                      [readonlyInput]="true" selectionMode="range" [showIcon]="true" [showButtonBar]="true"
                      [inline]="true" [showWeek]="true" [readonlyInput]="true"></p-calendar>
                  </div>
                  <div class="field col-12 md:col-6">
                    <div class="flex-wrap mb-4">
                      <label class="block text-900 font-medium mb-2">{{ 'Rental.Category' | translate }}</label>
                      <p-dropdown class="mb-2" [options]="categories" formControlName="CategoryId"
                        [placeholder]="translate.instant('Rental.SelectCategory')" [showClear]="false">
                        <ng-template let-role pTemplate="selectedItem">
                          <div>{{ role.label | translate }}</div>
                        </ng-template>
                        <ng-template let-role pTemplate="item">
                          <div>{{ role.label | translate }}</div>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="flex-wrap mb-4">
                      <label class="block text-900 font-medium mb-2">{{ 'Rental.Renter' | translate }}</label>
                      <span class="p-input-icon-right">
                        <i [class]="Menus.main.items.clients.icon"></i>
                        <input pInputText class="p-inputtext mb-2" id="renterName" formControlName="RenterName"
                          type="text" (click)="displayRenterSelectionDialog = true" readonly />
                      </span>
                    </div>
                    <div class="flex-wrap mb-4">
                      <label class="block text-900 font-medium mb-2">{{ 'Rental.Rentier' | translate }}</label>
                      <span class="p-input-icon-right">
                        <i [class]="Menus.main.items.clients.icon"></i>
                        <input pInputText class="p-inputtext mb-2" id="rentierName" formControlName="RentierName"
                          type="text" (click)="displayRentierSelectionDialog = true" readonly />
                      </span>
                    </div>
                  </div>
                </div>
                <div class="p-formgrid grid">
                  <div class="field col-12 items-centered mb-0">
                    <button pButton pRipple type="button" icon="pi pi-save"
                      [label]="translate.instant('General.Create')" class="p-button-raised p-button-success mr-2"
                      [disabled]="shouldActionsBeDisabled" (click)="onSubmit()"></button>
                    <button pButton pRipple type="button" icon="pi pi-undo"
                      [label]="translate.instant('General.Cancel')" class="p-button-raised" [disabled]="isExecuting"
                      (click)="onBack()"></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </p-tabPanel>
      </p-tabView>
    </div>
    <p-dialog [header]="translate.instant('User.Select')" [(visible)]="displayUserSelectionDialog" [modal]="true"
      [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
      <user-select-list *ngIf="displayUserSelectionDialog"
        (onSelected)="onSelectedUserResponsibleForHandling($event)"></user-select-list>
    </p-dialog>
    <p-dialog [header]="translate.instant('Client.Select')" [(visible)]="displayRenterSelectionDialog" [modal]="true"
      [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
      <client-select-list *ngIf="displayRenterSelectionDialog"
        (onSelected)="onSelectedRenter($event)"></client-select-list>
    </p-dialog>
    <p-dialog [header]="translate.instant('Client.Select')" [(visible)]="displayRentierSelectionDialog" [modal]="true"
      [style]="{width: '80vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
      <client-select-list *ngIf="displayRentierSelectionDialog"
        (onSelected)="onSelectedRentier($event)"></client-select-list>
    </p-dialog>
  </div>
</div>