<p-galleria [value]="equipmentPhotos" [(activeIndex)]="activeIndex" [responsiveOptions]="galleriaResponsiveOptions"
  [containerStyle]="{ 'max-width': '540px' }" [numVisible]="5">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.Source ? item.Source : getEquipmentPhotoSource(item.Id)"
      style="width: 100%; max-height: 420px; min-height: 420px; min-width: 450px; max-width: 450px; display: block;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.Thumbnail" />
    </div>
  </ng-template>
</p-galleria>